---
import Layout from "../layouts/Layout.astro"
import Section from "../components/Section.astro"
import LandingHeader from "../components/LandingHeader.astro"
import GeneralFooter from "../components/GeneralFooter.astro"
---
<Layout>
<LandingHeader/>
<div class="snap-center">
    <Section 
        color="white"
        title="Inmuebles Educacionales">

        <img
        slot="background"
        class="h-full w-full object-center object-cover" 
        src="../../public/casa3.jpeg">



    </Section>
</div>
<GeneralFooter/>
<Layout/>