---
import Layout from '../layouts/Layout.astro';
import LandingHeader from '../components/LandingHeader.astro';
import Section from '../components/Section.astro';
import GeneralFooter from '../components/GeneralFooter.astro';
import Preloader from "../components/Preloader.astro"
---

<Layout title="Triio Page" id="index">
	<Preloader/>
	<LandingHeader/>
	
	
	<main>

    <div class="snap-center">
		<Section
		color="white"
		title="Construccion de viviendas"
		subtitle="">

		<img
		slot="background"
		class="h-full w-full object-center object-cover" 
		src="../../public/casas/casa_GA/final/f-GA5.webp">

		<div slot="footer">
			<a 
			class="border-2 rounded font-medium bg-black bg-opacity-60 
			text-white px-10 py-2 inline-block hover:bg-white hover:bg-opacity-60
			hover:text-black transition-colors" href="/vivienda">
				Vea nuestras obras
			</a>
		</div>
	<Section/>
	</div>
	<div class="snap-center">
		<Section
			color="white"
			title="Construcción de locales comerciales"
			subtitle="">
	
			<img
			slot="background"
			class="h-full w-full object-center object-cover" 
			src="../../public/casa2.jpeg">
	
			<div slot="footer">
				<a 
				class="border-2 rounded font-medium bg-black bg-opacity-60 
				text-white px-10 py-2 inline-block hover:bg-white hover:bg-opacity-60
				hover:text-black transition-colors" href="/comerciales">
					Vea nuestras obras
				</a>
			</div>
		<Section/>

	</div>

	<div class="snap-center">
		<Section
			color="white"
			title="Construcción de Inmuebles educacionales"
			subtitle="">
	
			<img
			slot="background"
			class="h-full w-full object-center object-cover" 
			src="../../public/casa3.jpeg">
	
			<div slot="footer">
				<a 
				class="border-2 rounded font-medium bg-black bg-opacity-60 
				text-white px-10 py-2 inline-block hover:bg-white hover:bg-opacity-60
				hover:text-black transition-colors" href="/educacionales">
					Vea nuestras obras
				</a>
			</div>
		<Section/>

	</div>
	<div class="snap-center">
		<Section
			color="white"
			bg_color ="gray-400"
			title="Disfrute de las decenas de opciones de Triio"
			subtitle="¡Haz realidad tu proyecto!">
	
			<img
			slot="background"
			class="h-full w-full object-center object-cover" 
			src="../../public/casa1.jpeg">
	
			<div slot="footer">
				<a 
				class="border-2 rounded font-medium bg-black bg-opacity-60 
				text-white px-10 py-2 inline-block hover:bg-white hover:bg-opacity-60
				hover:text-black transition-colors" href="/contacto">
					¡Contáctanos!
				</a>
			</div>
		<Section/>

	</div>
	<div class="snap-center">
		<Section
			color="white"
			title="Somos Grupo Triio"
			subtitle="La experiencia y profesionalismo que te mereces">
	
			<video 
			slot="background" 
			class="h-full w-full object-center object-cover" 
			autoplay loop 
			src="../../public/video_casa1.mp4"></video>
	
			<div slot="footer">
				<a 
				class="border-2 rounded font-medium bg-black bg-opacity-60 
				text-white px-10 py-2 inline-block hover:bg-white hover:bg-opacity-60
				hover:text-black transition-colors" href="/quienes_somos">
					Acerca de nosotros
				</a>
			</div>
		<Section/>

	</div>
	</main>

	<GeneralFooter/>
</Layout>
