---
import Layout from '../layouts/Layout.astro';
import LandingHeader from '../components/LandingHeader.astro';
import Section from '../components/Section.astro';
import InfoSection from '../components/InfoSection.astro';
import GeneralFooter from '../components/GeneralFooter.astro';
import PhotoSlider from '../components/PhotoSlider.astro';
import Logo from "../components/Logo.astro";
import Preloader from "../components/Preloader.astro"

const photos_1 = [
  "../../public/casa1.jpeg",
  "../../public/casa2.jpeg",
  "../../public/casa3.jpeg",
  "../../public/GA-1.webp",
  "../../public/GA-2.webp",
];
        
---


<Layout title="Triio Page/contacto">
    <Preloader/>
    <LandingHeader/>

    <div class="snap-center">
        <InfoSection 
            color="white">

            <div slot="aux_slot" class="flex items-center justify-center h-screen">
                <Logo
                    color_o = black
                    color_t = white
                    h_size = "50"
                    w_size = "40"
                    />

            </div>

			<img
			slot="background"
			class="h-full w-full object-center object-cover" 
			src="../../public/casa2.jpeg">

        </InfoSection>
    </div>

    <div class="snap-center">
        <InfoSection 
            color="white">

			<img
			slot="background"
			class="h-full w-full object-center object-cover" 
			src="../../public/casa3.jpeg">

            <div slot="aux_slot" class="flex items-center justify-center inset-0 h-screen">
                <p class="text-white text-left text-xl bg-black bg-opacity-80 rounded max-w-xl px-10 py-5">
                    En GRUPO TRIIO SpA, combinamos innovación, experiencia y profesionalismo para ofrecer servicios de arquitectura y construcción de alta calidad. Fundada en noviembre de 2016 por la arquitecta Pamela Marzán, titulada en la Universidad de Valparaíso y con un Diplomado en Evaluación y Preparación de Proyectos Inmobiliarios de la Universidad de Chile, nuestra empresa nace con la visión de redefinir los estándares en diseño y construcción.
                </p>                
            </div>

        </InfoSection>
    </div>

    
    <div class="snap-center">
        <InfoSection 
            color="white"
            bg_color="white">

            <div slot="aux_slot" class="flex items-center justify-center inset-0 h-screen">
                <p class="text-white text-left text-xl bg-black bg-opacity-80 rounded max-w-xl px-10 py-5">
                    En GRUPO TRIIO SpA, combinamos innovación, experiencia y profesionalismo para ofrecer servicios de arquitectura y construcción de alta calidad. Fundada en noviembre de 2016 por la arquitecta Pamela Marzán, titulada en la Universidad de Valparaíso y con un Diplomado en Evaluación y Preparación de Proyectos Inmobiliarios de la Universidad de Chile, nuestra empresa nace con la visión de redefinir los estándares en diseño y construcción.
                </p>                
            </div>

        </InfoSection>
    </div>
     
    <div class="snap-center">
    <InfoSection
        bg_color="black">

        <div slot="aux_slot" class="relative max-w-5xl mt-[130px] ml-20">

            <PhotoSlider images={photos_1} />
      
        </div>
        <div slot="aux_slot2" class="flex items-end justify-items-end inset-0 h-screen">
            <p class="text-white text-left text-xl bg-black bg-opacity-80 rounded max-w-xl px-10 py-5">hola</p>

        </div>

    </InfoSection>
    <div/>

    <div class="snap-center">
        <Section
            bg_color = "black">
            <div slot="background" class="absolute inset-0 w-full h-full flex items-center justify-center">
                <PhotoSlider images={photos_1}/>
            </div>
       
        </Section>
    </div>

    
    <GeneralFooter/>
</Layout>
