---
import Layout from "../layouts/Layout.astro"
import Section from "../components/Section.astro"
import LandingHeader from "../components/LandingHeader.astro"
import GeneralFooter from "../components/GeneralFooter.astro"
---
<Layout>
<LandingHeader/>
<div class="snap-center">
    <Section 
        color="white"
        bg_color="black"
        title="Viviendas">
        
    </Section>
</div>



<GeneralFooter/>
<Layout/>