---
import Section from '../components/Section.astro'
---

<Section
    color="white"
	title="Disfrute de las decenas de opciones de Triio"
	subtitle="¡Cotiza tu nueva casa ya!">

	<img
	slot="background"
	class="h-full w-full object-center object-cover" 
	src="../../public/casa1.jpeg">

    <div slot="footer">
		<a 
		class="border-2 rounded font-medium bg-black bg-opacity-60 
		text-white px-10 py-2 inline-block hover:bg-white hover:bg-opacity-60
		hover:text-black transition-colors" href="#">
			Cotizaciones
		</a>
	</div>

	
<Section/>
