
<header 
        id="landing-header"
        class="text-white
		 py-2 px-8 flex items-center fixed top-0 w-full justify-between z-40">

            <div class="flex flex-grow basis-0">
				<a href="/">
					<svg class="h-20 w-32" xmlns="http://www.w3.org/2000/svg" version="1.0" width="2112.000000pt" height="1553.000000pt" viewBox="0 0 2112.000000 1553.000000" preserveAspectRatio="xMidYMid meet">
	
						<g transform="translate(0.000000,1553.000000) scale(0.100000,-0.100000)" 
						fill="currentColor" stroke="none">
						<path d="M10045 15205 c-121 -41 -629 -206 -1130 -368 l-910 -293 -3 -3502 -2 -3502 22 -9 c13 -5 478 -152 1033 -326 556 -175 1065 -336 1133 -358 99 -32 125 -37 137 -27 13 11 15 516 13 4234 l-3 4221 -35 2 c-21 1 -126 -29 -255 -72z"/>
						<path d="M10402 15269 l-22 -8 0 -4219 c0 -3834 1 -4221 16 -4233 13 -10 22 -10 47 0 62 24 789 292 1452 536 369 135 705 259 748 276 43 16 85 29 92 29 8 0 21 10 29 22 14 20 16 231 16 2048 0 1606 -3 2029 -12 2042 -10 12 -41 17 -133 21 -207 11 -1259 78 -1282 83 l-23 4 0 606 c0 572 1 605 18 600 9 -3 107 -21 217 -41 110 -20 319 -58 465 -85 146 -27 708 -130 1250 -230 542 -99 1018 -188 1059 -197 71 -16 74 -16 87 2 12 16 14 132 12 679 l-3 659 -195 68 c-107 37 -312 109 -455 159 -143 51 -309 109 -370 130 -60 21 -348 122 -640 225 -291 103 -618 218 -725 255 -107 38 -395 139 -640 225 -245 86 -548 193 -675 237 -126 44 -248 88 -270 97 -27 12 -48 15 -63 10z"/>
						<path d="M11383 13004 c-10 -4 -13 -54 -13 -199 0 -209 1 -212 55 -213 26 -1 1513 -207 1666 -231 43 -7 170 2 583 43 290 29 532 58 537 63 14 14 8 44 -11 54 -8 5 -474 87 -1035 184 -561 96 -1177 202 -1370 235 -192 33 -361 63 -375 65 -14 2 -31 2 -37 -1z"/>
						<path d="M13440 11679 c-107 -11 -201 -21 -207 -24 -10 -3 -13 -366 -13 -1765 0 -1400 3 -1761 13 -1764 6 -2 100 -30 207 -61 107 -32 209 -58 225 -59 l30 -1 3 1834 c1 1347 -1 1837 -9 1847 -13 16 2 17 -249 -7z"/>
						<path d="M13758 11679 c-17 -9 -18 -107 -18 -1819 l0 -1809 21 -11 c13 -8 24 -8 32 -2 11 10 281 111 509 191 59 21 114 44 123 51 13 11 15 193 15 1680 0 1322 -3 1670 -12 1678 -7 5 -44 10 -82 11 -84 1 -511 29 -546 36 -14 2 -33 0 -42 -6z"/>
						<path d="M15172 7355 c-169 -37 -308 -145 -381 -297 -109 -227 -70 -469 104 -644 214 -216 557 -222 781 -12 108 101 174 259 174 412 -1 350 -333 616 -678 541z m239 -101 c189 -56 307 -189 338 -383 27 -167 -63 -364 -207 -455 -79 -50 -151 -69 -252 -69 -111 0 -175 20 -273 87 -231 158 -253 521 -42 715 48 44 144 96 203 110 61 15 175 12 233 -5z"/>
						<path d="M15040 6801 l0 -301 50 0 50 0 0 125 0 125 55 0 c49 0 59 -4 93 -35 21 -19 60 -73 87 -121 27 -47 54 -88 60 -91 7 -2 36 -3 64 -1 l52 3 -69 105 c-38 58 -81 116 -97 128 -15 12 -26 23 -24 25 2 1 25 12 51 24 124 58 130 230 11 289 -32 16 -66 20 -210 22 l-173 4 0 -301z m327 193 c40 -30 44 -90 8 -124 -25 -23 -34 -25 -128 -25 l-102 0 -3 74 c-4 107 -8 104 103 99 76 -3 100 -8 122 -24z"/>
						<path d="M1130 6380 c-41 -4 -91 -14 -110 -22 -46 -19 -86 -68 -100 -118 -7 -26 -10 -192 -8 -483 3 -430 4 -443 24 -482 28 -52 81 -81 171 -95 101 -16 1044 -8 1096 9 21 6 53 26 72 42 58 51 65 94 65 391 l0 258 -365 0 -365 0 0 -105 0 -105 230 0 230 0 0 -135 0 -135 -440 0 -440 0 0 385 0 385 440 0 440 0 0 -65 c0 -76 -11 -73 144 -45 60 11 113 20 118 20 14 0 9 113 -7 168 -18 59 -64 103 -129 122 -48 15 -944 23 -1066 10z"/>
						<path d="M2880 5655 l0 -486 108 3 107 3 3 183 2 182 108 0 107 0 197 -185 198 -185 155 0 c85 0 155 2 155 4 0 3 -98 85 -217 183 l-218 178 110 6 c127 6 168 21 205 76 24 36 25 41 25 222 0 209 -7 236 -75 276 -34 19 -53 20 -502 23 l-468 3 0 -486z m809 301 c18 -17 21 -30 21 -111 0 -76 -3 -97 -19 -116 l-19 -24 -284 0 -283 0 -3 138 -3 138 285 -3 c263 -3 286 -4 305 -22z"/>
						<path d="M4392 5713 c3 -483 2 -473 81 -515 42 -23 45 -23 452 -23 372 0 414 2 457 18 33 13 54 29 70 55 23 37 23 39 26 465 l3 427 -110 0 -111 0 -2 -392 -3 -393 -320 0 -320 0 -3 393 -2 392 -111 0 -110 0 3 -427z"/>
						<path d="M5980 5655 l0 -486 108 3 107 3 3 187 2 187 353 3 c376 3 372 3 429 56 40 37 51 103 47 273 -5 163 -16 196 -79 234 -34 19 -53 20 -502 23 l-468 3 0 -486z m809 301 c18 -17 21 -30 21 -108 0 -136 20 -128 -325 -128 l-285 0 0 131 0 130 284 -3 c263 -3 286 -4 305 -22z"/>
						<path d="M7470 6128 c-46 -13 -76 -42 -95 -92 -14 -35 -16 -93 -13 -396 3 -407 3 -405 86 -443 46 -22 57 -22 507 -22 450 0 461 0 507 22 83 38 83 36 86 438 2 249 0 362 -9 393 -14 49 -53 87 -107 102 -49 13 -914 12 -962 -2z m860 -468 l0 -310 -372 2 -373 3 -3 308 -2 307 375 0 375 0 0 -310z"/>
						<path d="M890 4090 l0 -290 740 0 740 0 0 -1330 0 -1330 375 0 375 0 0 1330 0 1330 748 2 747 3 3 288 2 287 -1865 0 -1865 0 0 -290z"/>
						<path d="M5550 2760 l0 -1620 368 2 367 3 3 613 2 612 351 0 351 0 32 -26 c17 -15 92 -83 166 -153 74 -69 170 -160 215 -201 44 -41 121 -113 170 -160 50 -47 158 -148 240 -225 83 -77 184 -172 225 -211 187 -177 242 -229 260 -241 15 -11 123 -13 552 -11 l533 3 -660 539 c-830 678 -815 666 -815 676 0 5 143 10 318 13 354 4 402 11 530 72 138 65 226 175 269 335 16 58 18 120 18 595 0 477 -2 537 -18 595 -50 182 -154 296 -326 356 -156 54 -147 54 -1708 54 l-1443 0 0 -1620z m2630 1041 c57 -22 101 -61 121 -105 17 -37 19 -69 19 -316 0 -162 -4 -291 -11 -313 -14 -53 -61 -102 -117 -124 -44 -17 -104 -18 -974 -21 l-928 -3 0 451 0 451 928 -3 c762 -3 933 -5 962 -17z"/>
						<path d="M10590 2760 l0 -1620 373 2 372 3 3 1618 2 1617 -375 0 -375 0 0 -1620z"/>
						<path d="M13000 2760 l0 -1620 375 0 375 0 0 1620 0 1620 -375 0 -375 0 0 -1620z"/>
						<path d="M15905 4369 c-93 -12 -237 -54 -297 -86 -97 -53 -169 -154 -207 -292 -40 -146 -42 -212 -39 -1291 4 -1146 1 -1093 71 -1260 71 -173 224 -259 517 -290 131 -13 2675 -13 2809 0 181 19 336 71 413 139 82 72 137 199 163 380 14 92 15 244 12 1146 -3 1150 -1 1098 -69 1263 -70 170 -219 259 -488 292 -104 12 -2782 12 -2885 -1z m2693 -1591 l-3 -1023 -1240 0 -1240 0 -3 1023 -2 1022 1245 0 1245 0 -2 -1022z"/>
						</g>
						</svg>
				</a>
				
	        </div>

            <div class="justify hidden lg:flex">

				<ul class="flex justify-center hover:cursor-pointer">
                    <li><a class="px-4 py-2 font-medium inline-block text-sm
						 hover:bg-white hover:bg-opacity-60
							hover:text-black transition-colors rounded" href="/vivienda">Viviendas</a></li>
                    <li><a class="px-4 py-2 font-medium inline-block text-sm
						 hover:bg-white hover:bg-opacity-60
							hover:text-black transition-colors rounded" href="/comerciales">Locales Comerciales</a></li>
                    <li><a class="px-4 py-2 font-medium inline-block text-sm
						 hover:bg-white hover:bg-opacity-60
							hover:text-black transition-colors rounded" href="/educacionales">Inmuebles educacionales</a></li>
					<li><a class="px-4 py-2 font-medium inline-block text-sm
						hover:bg-white hover:bg-opacity-60
						   hover:text-black transition-colors rounded" href="/quienes_somos">Quienes somos</a></li>
					<li><a class="px-4 py-2 font-medium inline-block text-sm
						 hover:bg-white hover:bg-opacity-60
							hover:text-black transition-colors rounded" href="/contacto">Contacto</a></li>
                </ul>
            </div>

			<div class="flex-grow justify-end basis-0 hidden lg:flex">
                <ul class="flex justify-center hover:cursor-pointer">
                    <li><a class="px-4 py-2 font-medium inline-block text-sm
						 hover:bg-white hover:bg-opacity-60
							hover:text-black transition-colors rounded" href="#">Preguntas Frecuentes</a></li>
                    <li><a class="px-4 py-2 font-medium inline-block text-sm
						 hover:bg-white hover:bg-opacity-60
							hover:text-black transition-colors rounded" href="#">Idioma</a></li>
                </ul>
            </div>

			<div class="lg:hidden">
				  
				<button id="abrirMenu"  class="border-0 border-gray-400 rounded font-medium text-sm bg-black bg-opacity-20
				text-white px-4 py-2 inline-block hover:bg-white hover:bg-opacity-60
				hover:text-black transition-colors">
					Menú
				</button>


				<div id="desplegable" class="bg-white top-0 right-0 w-full h-full z-40 fixed hidden">
					<div id="cerrarMenu" class="flex justify-end">
						<div class="p-1 m-2 hover:bg-slate-300 hover:bg-opacity-40 rounded">
							<svg color=black xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
						</div>
						
					</div>
					
					<ul class="pt-4 px-0">
						
						<li><a class="px-4 py-5 m-3 font-bold inline-block text-md
							 hover:bg-slate-300 hover:bg-opacity-40 
							 rounded w-full text-black" href="/vivienda">Viviendas</a></li>
						<li><a class="px-4 py-5 m-3 font-bold inline-block text-md
							hover:bg-slate-300 hover:bg-opacity-40 
							rounded w-full text-black" href="/comerciales">Locales Comerciales</a></li>
						<li><a class="px-4 py-5 m-3 font-bold inline-block text-md
							hover:bg-slate-300 hover:bg-opacity-40 
							rounded w-full text-black" href="/educacionales">Inmuebles educacionales</a></li>
						<li><a class="px-4 py-5 m-3 font-bold inline-block text-md
							hover:bg-slate-300 hover:bg-opacity-40 
							rounded w-full text-black" href="/quienes_somos">Quienes somos</a></li>
						<li><a class="px-4 py-5 m-3 font-bold inline-block text-md
							 hover:bg-slate-300 hover:bg-opacity-40 
							 rounded w-full text-black" href="/contacto">Contacto</a></li>
						<li><a class="px-4 py-5 m-3 font-bold inline-block text-md
							hover:bg-slate-300 hover:bg-opacity-40 
							 rounded w-full text-black" href="#">Preguntas Frecuentes</a></li>
						<li><a class="px-4 py-5 m-3 font-bold inline-block text-md
							hover:bg-slate-300 hover:bg-opacity-40 
							 rounded w-full text-black" href="#">Idioma</a></li>
						
					</ul>	
				</div>
			</div>

			
        </header>

		<script is:inline> //con is:inline hacemmos la isla
            document.addEventListener('DOMContentLoaded', () => {
              const button1 = document.getElementById('abrirMenu'); // Busca el primer ID
              const button2 = document.getElementById('cerrarMenu'); // Busca el segundo ID
              const desplegable = document.getElementById('desplegable'); // Busca el menú desplegable

              // Agregar un evento de clic al primer botón
              button1.addEventListener('click', () => {
                desplegable.classList.toggle('hidden');
              });

              // Agregar un evento de clic al segundo botón
              button2.addEventListener('click', () => {
                desplegable.classList.toggle('hidden');
              });
            });
			
		  </script>